#cont {
	width: 800px; 
	margin: 30px auto;
}

#player {
	pointer-events: none; 
	display: block; 
	width: 800px;
	height: 450px;
}

#control_cont {
	margin-top: 15px;
	width: 800px;
	position: relative;
}

#line {
	height: 4px;
	background: white;
	width:  83%;
	margin-left: 20px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#square {
	background: #0099cc;
	height: 20px;
	width: 20px;
	border-radius: 3px;
	display: inline-block;
	margin-left: -669px;
	vertical-align: middle;
	position: relative;
}

#search {
	margin: 30px 100px;
}